[submodule "Documents/laravelvuejs/larazillow11/larazillow11/Documents/laravelvuejs/larazillow11/larazillow11/llarazillow"]
	path = Documents/laravelvuejs/larazillow11/larazillow11/Documents/laravelvuejs/larazillow11/larazillow11/llarazillow
	url = https://github.com/Asim1khan/llarazillow.git
